
.main-navbar{
	background:  #333 !important;
}
.main-navbar .navbar-nav .active>.nav-link{
	color: yellow;
}
.main-navbar .navbar-nav .nav-link {
    color: white;
}
.logo{
	height: 50px;

}

.login-container {
	margin-top: 5rem;
}

.add-parts-section {
	margin-top: 3rem;
}

.parts-received-section {
	margin-top: 3rem;
	margin-bottom: 4rem;
}
.activities-log-section {
	margin-top: 3rem;
	margin-bottom: 4rem;
}

.bg-image {
	background-size: cover !important;
	/* background-color: tomato; */
	background-image: url('../images/background.jpg');
	height: 100%;
 }

 .overlay {
	 height: 90vh;
	 background-color: rgba(0, 0, 0, 0.377);
 }

 .hero-text {
	 padding-top: 8rem;
 }