
.main-navbar{
	background: #293691 !important;
}
.main-navbar .navbar-nav .active>.nav-link{
	color: yellow;
}
.main-navbar .navbar-nav .nav-link {
    color: white;
}
.logo{
	height: 30px;
	width: 50px;
}

.add-parts-section {
	margin-top: 3rem;
}

.parts-received-section {
	margin-top: 3rem;
}

.bg-image {
	background-size: cover !important;
	/* background-color: tomato; */
	background-image: url('../images/background.jpg');
	height: 100%;
 }